{% extends "base.html" %}

{% block main %}

<div class="enclose">
    <div class="card">
            <div class="display">
                <img class="proPic" src="{{ url_for('static', filename='img/pro.jpg') }}">
                <div class="basic">
                    <h5 class="text">Neko S. C. Reid</h4>
                    <p class="text">@nreid</p>
                    <p class="text">Kingston, Jamaica</p>
                    <p class="text">Joined {{joined}}</p>
                </div>
            </div>
            <div class="bio">
                <div class="top">
                    <p>I am a Computer Science student at The University of The West Indies, Mona, Jamaica. 
                        I am a Christian, a follower of Christ. I enjoy watching videos from my subscribed YouTube channels.
                        I also love animals; I find them cute. Sometimes I like to just think and question stuff.</p>
                </div>
                <div class="mid">
                    <div class="stat"> <h5 class="num">7</h5> <p class="tag">Posts</p> </div> 
                    <div class="stat"> <h5 class="num">100</h5> <p class="tag">Following</p> </div> 
                    <div class="stat"> <h5 class="num">250</h5> <p class="tag">Followers</p> </div>
                </div>
                <div class="bttm">
                    <button class="fbutton"><strong>Follow</strong></button>
                </div>

            </div>
    </div>
</div>
{% endblock %}